/.DS_Store
/.DistinctWordSort.docx.icloud
/.Lists.docx.icloud
/.idea
/.wordSort.docx.icloud
/AlgorithmicThinking.docx
/BobAlgorithm.docx
/GuessTheCapitals.docx
/HelloWorld.docx
/PatternMatching.docx
/PriorityQueues.docx
/Recursion.docx